# Capstone Project - Sprint 2

Necessary imports

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

from scipy import stats
from scipy.stats import norm, kurtosis #used for plotting and EDA

Fin st release dates.

In [13]:
fsrel_dates_df = pd.read_csv('../data/fin_statements_release_dates.csv')

In [14]:
fsrel_dates_df.head()

   Year Company       Date
0  2016    AAPL  26-Oct-16
1  2015    AAPL  28-Oct-15
2  2014    AAPL  27-Oct-14
3  2013    AAPL  30-Oct-13
4  2012    AAPL  31-Oct-12

In [15]:
# convert date to datetime
fsrel_dates_df["Date"] = pd.to_datetime(fsrel_dates_df["Date"], format=None)

C:\Users\Vladimir\AppData\Local\Temp\ipykernel_6128\1461334146.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fsrel_dates_df["Date"] = pd.to_datetime(fsrel_dates_df["Date"], format=None)

In [16]:
fsrel_dates_df

    Year Company       Date
0   2016    AAPL 2016-10-26
1   2015    AAPL 2015-10-28
2   2014    AAPL 2014-10-27
3   2013    AAPL 2013-10-30
4   2012    AAPL 2012-10-31
..   ...     ...        ...
76  2013    AMZN 2014-01-30
77  2012    AMZN 2013-01-29
78  2011    AMZN 2012-01-31
79  2010    AMZN 2011-01-27
80  2009    AMZN 2010-01-28

[81 rows x 3 columns]

Reading the financial statements dataset.

In [18]:
df = pd.read_csv('../data/Financial_Statements.csv')

In [19]:
df

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,Current Ratio,Debt/Equity Ratio,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US)
0,2022,AAPL,IT,2066.94,394328.0,170782.0,99803.0,6.1100,130541.0,50672.0,...,0.8794,2.3695,196.9589,28.2924,66.6994,25.3096,1.3146,196.9589,164000,8.0028
1,2021,AAPL,IT,2913.28,365817.0,152836.0,94680.0,5.6100,120233.0,63090.0,...,1.0746,1.9768,150.0713,26.9742,54.9839,25.8818,1.3261,150.0713,154000,4.6979
2,2020,AAPL,IT,2255.97,274515.0,104956.0,57411.0,3.2800,77344.0,65339.0,...,1.3636,1.7208,87.8664,17.7256,35.0054,20.9136,1.0183,87.8664,147000,1.2336
3,2019,AAPL,IT,1304.76,260174.0,98392.0,55256.0,2.9700,76477.0,90488.0,...,1.5401,1.1940,61.0645,16.3230,30.3113,21.2381,-0.0388,61.0645,137000,1.8122
4,2018,AAPL,IT,748.54,265595.0,101839.0,59531.0,2.9800,81801.0,107147.0,...,1.1329,1.0685,55.5601,16.2775,29.6348,22.4142,0.7414,55.5601,132000,2.4426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2013,AMZN,LOGI,182.54,74452.0,20271.0,274.0,0.0295,3998.0,9746.0,...,1.0716,0.3274,2.8114,0.6823,2.1180,0.3680,0.1748,3.8641,117300,1.4648
157,2012,AMZN,LOGI,113.63,61093.0,15122.0,-39.0,-0.0045,2835.0,8192.0,...,1.1207,0.3765,-0.4761,-0.1198,-0.3459,-0.0638,-0.1833,-0.6915,88400,2.0693
158,2011,AMZN,LOGI,78.72,48077.0,10789.0,631.0,0.0685,1945.0,7757.0,...,1.1741,0.0329,8.1346,2.4962,7.8757,1.3125,-0.0490,10.8756,56200,3.1568
159,2010,AMZN,LOGI,80.79,34204.0,7643.0,1152.0,0.1265,1974.0,6864.0,...,1.3254,0.2274,16.7832,6.1286,13.6736,3.3680,-0.0544,20.8885,33700,1.6400
160,2009,AMZN,LOGI,58.24,24509.0,5531.0,902.0,0.1020,1507.0,5257.0,...,1.3304,0.2007,17.1581,6.5301,17.1581,3.6803,0.3303,22.4211,24300,-0.3555

In [20]:
df = pd.merge(
    left=df, 
    right=fsrel_dates_df,
    how='right',
    left_on=['Year', 'Company '],
    right_on=['Year', 'Company'],
)
df.head(30)

,Year,Company,Category,Market Cap(in B USD),Revenue,Gross Profit,Net Income,Earning Per Share,EBITDA,Share Holder Equity,...,ROE,ROA,ROI,Net Profit Margin,Free Cash Flow per Share,Return on Tangible Equity,Number of Employees,Inflation Rate(in US),Company,Date
0,2016,AAPL,IT,617.59,215639.0,84263.0,45687.0,2.0775,70529.0,128249.0,...,35.6237,14.2024,22.4312,21.1868,-0.5901,38.1906,116000,1.2616,AAPL,2016-10-26
1,2015,AAPL,IT,586.86,233715.0,93626.0,53394.0,2.3050,82487.0,119355.0,...,44.7355,18.3899,30.9201,22.8458,0.9743,48.3878,110000,0.1186,AAPL,2015-10-28
2,2014,AAPL,IT,647.36,182795.0,70537.0,39510.0,1.6125,60449.0,111547.0,...,35.4201,17.0420,28.1142,21.6144,0.3032,38.4380,97000,1.6222,AAPL,2014-10-27
3,2013,AAPL,IT,504.79,170910.0,64304.0,37037.0,1.4200,55756.0,123549.0,...,29.9776,17.8923,26.3592,21.6705,0.1363,31.4425,84400,1.4648,AAPL,2013-10-30
4,2012,AAPL,IT,500.61,156508.0,68662.0,41733.0,1.5775,58518.0,118210.0,...,35.3041,23.7033,35.3041,26.6651,0.3394,36.9806,76100,2.0693,AAPL,2012-10-31
5,2011,AAPL,IT,376.40,108249.0,43818.0,25922.0,0.9886,35604.0,76615.0,...,33.8341,22.2753,33.8341,23.9466,0.6278,35.9115,63300,3.1568,AAPL,2011-10-26
6,2010,AAPL,IT,296.89,65225.0,25684.0,14013.0,0.5411,19412.0,47791.0,...,29.3214,18.6385,29.3214,21.4841,0.2857,30.0013,49400,1.6400,AAPL,2010-10-27
7,2009,AAPL,IT,189.80,42905.0,17222.0,8235.0,0.3243,12474.0,31640.0,...,26.0272,17.3365,26.0272,19.1936,0.3550,26.4052,36800,-0.3555,AAPL,2009-10-27
8,2017,MSFT,IT,659.91,96571.0,62310.0,25489.0,3.2500,37803.0,87711.0,...,29.0602,10.1829,15.5626,26.3941,0.8887,59.9981,124000,2.1301,MSFT,2017-08-02
9,2016,MSFT,IT,483.16,91154.0,58374.0,20539.0,2.5600,33330.0,71997.0,...,28.5276,10.6162,18.2481,22.5322,0.2435,40.7585,114000,1.2616,MSFT,2016-07-28
10,2015,MSFT,IT,443.17,93580.0,60542.0,12193.0,1.4800,31616.0,80083.0,...,15.2255,6.9885,11.3012,13.0295,-0.3425,20.9110,118000,0.1186,MSFT,2015-07-31
11,2014,MSFT,IT,382.88,86833.0,59755.0,22074.0,2.6300,32971.0,89784.0,...,24.5857,12.8051,19.9893,25.4212,0.3152,35.2192,128000,1.6222,MSFT,2014-07-31
12,2013,MSFT,IT,312.30,77849.0,57464.0,21863.0,2.5800,30519.0,78944.0,...,27.6943,15.3499,23.8822,28.0839,-0.5456,35.7204,118000,1.4648,MSFT,2013-07-30
13,2012,MSFT,IT,224.80,73723.0,56193.0,16978.0,2.0000,30923.0,66363.0,...,25.5835,14.0001,22.0276,23.0295,0.5798,34.1328,128000,2.0693,MSFT,2012-07-26
14,2011,MSFT,IT,218.38,69943.0,54366.0,23150.0,2.6900,29927.0,57083.0,...,40.5550,21.2964,33.5488,33.0984,0.3921,52.9046,99000,3.1568,MSFT,2011-07-28
15,2010,MSFT,IT,238.78,62484.0,50089.0,18760.0,2.1000,26771.0,46175.0,...,40.6280,21.7853,36.7023,30.0237,0.7057,57.5054,94000,1.6400,MSFT,2010-07-30
16,2009,MSFT,IT,270.64,58437.0,46282.0,14569.0,1.6200,22925.0,39558.0,...,36.8295,18.7051,33.6435,24.9311,1.7695,57.5941,90000,-0.3555,MSFT,2009-07-29
17,2016,GOOG,IT,530.84,90272.0,55134.0,19478.0,1.3925,29860.0,139036.0,...,14.0093,11.6289,13.6237,21.5770,0.6249,16.3323,72053,1.2616,GOOG,2017-02-02
18,2015,GOOG,IT,521.67,74989.0,46825.0,15826.0,1.1420,24423.0,120331.0,...,13.5859,11.0863,13.3643,21.1044,0.3054,16.2481,61814,0.1186,GOOG,2016-02-11
19,2014,GOOG,IT,354.75,66001.0,40310.0,14136.0,1.0285,21475.0,103860.0,...,13.1138,10.5429,12.7185,21.4179,0.0463,16.2814,53600,1.6222,GOOG,2015-02-06
20,2013,GOOG,IT,371.53,55519.0,33526.0,12733.0,0.9395,19342.0,87309.0,...,15.0729,11.8644,14.6965,22.9345,-0.2373,18.8671,47756,1.4648,GOOG,2014-02-11
21,2012,GOOG,IT,230.54,46039.0,28863.0,10737.0,0.8080,16796.0,71715.0,...,16.1096,12.3169,15.4652,23.3215,0.1539,21.5120,53861,2.0693,GOOG,2013-01-29
22,2011,GOOG,IT,207.65,37905.0,24717.0,9737.0,0.7440,13593.0,58145.0,...,16.7461,13.4167,15.9281,25.6879,0.3039,19.7822,32467,3.1568,GOOG,2012-01-26
23,2010,GOOG,IT,188.54,29321.0,18904.0,8505.0,0.6578,11777.0,46241.0,...,18.3928,14.7016,18.3928,29.0065,-0.1195,21.8407,24400,1.6400,GOOG,2011-02-11
24,2009,GOOG,IT,195.27,23651.0,14807.0,6520.0,0.5103,9836.0,36004.0,...,18.1091,16.1000,18.1091,27.5675,0.6657,21.4997,19835,-0.3555,GOOG,2010-02-12
25,2016,AIG,Bank,67.08,52367.0,5236.0,-849.0,-0.7800,4805.0,76858.0,...,-0.3370,-0.0520,-0.2403,-1.6213,1.0537,-0.3370,56400,1.2616,AIG,2017-02-23
26,2015,AIG,Bank,76.66,58327.0,10565.0,2196.0,1.6500,9958.0,90210.0,...,2.4631,0.4472,1.8601,3.7650,-1.3030,2.4631,66400,0.1186,AIG,2016-02-19
27,2014,AIG,Bank,78.41,64406.0,19219.0,7529.0,5.2000,16752.0,107272.0,...,7.0606,1.4690,5.4690,11.6899,-0.5007,7.0606,65000,1.6222,AIG,2015-02-20
28,2013,AIG,Bank,75.16,68874.0,21915.0,9085.0,6.1300,16922.0,101081.0,...,8.9117,1.6641,6.3093,13.1908,1.7809,8.9117,64000,1.4648,AIG,2014-02-20
29,2012,AIG,Bank,52.11,71214.0,21825.0,3438.0,2.0400,19327.0,98669.0,...,3.7489,0.6742,2.5134,4.8277,2.2237,3.7489,63000,2.0693,AIG,2013-02-21

### Defining the ticker list for financial statements group.

In [22]:
tickers = ['aapl', 'msft', 'goog', 'aig', 'pcg', 'mcd', 'bcs', 'nvda', 'intc', 'amzn']

excluding pypl as for this stock only 2 financial statements were available(were in the right range chronologically), which is too short for the forecast.

In [24]:
stock_dfs = {}
for t in tickers:
    try:
        # creating separate dataframes for each stock
        stock_dfs[t]= df.loc[(df['Company '] == t.upper())]
        # saving to csv
        stock_dfs[t].to_csv(f'../data/clean_csv/fs_{t}.csv')
        stock_dfs[t].info()
    except:
        print(f'{t} does not exist in this list')

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0 to 7
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 8 to 16
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 9 non-null      int64
 1   Company                              9 non-null      object
 2   Category                             9 non-null      object
 3   Market Cap(in B USD)                 9 non-null      float64
 4   Revenue                              9 non-null      float64
 5   Gross Profit                         9 non-null      float64
 6   Net Income                           9 non-null      float64
 7   Earning Per Share                    9 non-null      float64
 8   EBITDA                               9 non-null      float64
 9   Share Holder Equity                  9 non-null      float64
 10  Cash Flow from Operating             9 non-null      float64
 11  Cash Flow from Investing             9 non-null      float64
 12  Cash Flow from Financial Activities  9 non-null      float64
 13  Current Ratio                        9 non-null      float64
 14  Debt/Equity Ratio                    9 non-null      float64
 15  ROE                                  9 non-null      float64
 16  ROA                                  9 non-null      float64
 17  ROI                                  9 non-null      float64
 18  Net Profit Margin                    9 non-null      float64
 19  Free Cash Flow per Share             9 non-null      float64
 20  Return on Tangible Equity            9 non-null      float64
 21  Number of Employees                  9 non-null      int64
 22  Inflation Rate(in US)                9 non-null      float64
 23  Company                              9 non-null      object
 24  Date                                 9 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 17 to 24
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 25 to 32
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 33 to 40
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 41 to 48
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 49 to 56
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 57 to 64
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 65 to 72
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 73 to 80
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 8 non-null      int64
 1   Company                              8 non-null      object
 2   Category                             8 non-null      object
 3   Market Cap(in B USD)                 8 non-null      float64
 4   Revenue                              8 non-null      float64
 5   Gross Profit                         8 non-null      float64
 6   Net Income                           8 non-null      float64
 7   Earning Per Share                    8 non-null      float64
 8   EBITDA                               8 non-null      float64
 9   Share Holder Equity                  8 non-null      float64
 10  Cash Flow from Operating             8 non-null      float64
 11  Cash Flow from Investing             8 non-null      float64
 12  Cash Flow from Financial Activities  8 non-null      float64
 13  Current Ratio                        8 non-null      float64
 14  Debt/Equity Ratio                    8 non-null      float64
 15  ROE                                  8 non-null      float64
 16  ROA                                  8 non-null      float64
 17  ROI                                  8 non-null      float64
 18  Net Profit Margin                    8 non-null      float64
 19  Free Cash Flow per Share             8 non-null      float64
 20  Return on Tangible Equity            8 non-null      float64
 21  Number of Employees                  8 non-null      int64
 22  Inflation Rate(in US)                8 non-null      float64
 23  Company                              8 non-null      object
 24  Date                                 8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(19), int64(2), object(3)
memory usage: 1.6+ KB

In [51]:
stock_p_dfs = {}
for t in tickers:
    stock_p_dfs[t] = pd.read_csv(f'../data/clean_csv/{t}.csv')
    stock_p_dfs[t]["Date"] = pd.to_datetime(stock_p_dfs[t]["Date"])
    stock_p_dfs[t] = pd.merge(
        left=stock_p_dfs[t], 
        right=stock_dfs[t],
        how='left',
        left_on='Date',
        right_on='Date',
    )
    stock_p_dfs[t].drop(columns = ['Year', 'Company ','Category', 'Company','Unnamed: 0'],inplace=True)
    stock_p_dfs[t].ffill(inplace=True)
    stock_p_dfs[t].dropna(inplace=True, ignore_index=True)
    stock_p_dfs[t].to_csv(f'../data/clean_csv/{t}_p_fs.csv')
    print(stock_p_dfs[t].head(5))

        Date    Open    High     Low   Close     Volume  OpenInt  C_returns  \
0 2009-10-27  25.823  25.973  25.159  25.275  210785035        0  -0.025298
1 2009-10-28  25.274  25.360  24.473  24.639  227883167        0  -0.025163
2 2009-10-29  24.958  25.204  24.607  25.145  158941910        0   0.020537
3 2009-10-30  25.123  25.204  23.827  24.140  200003753        0  -0.039968
4 2009-11-02  24.310  24.701  23.765  24.244  189191189        0   0.004308

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                 189.8  42905.0  ...         2.7425                0.0
1                 189.8  42905.0  ...         2.7425                0.0
2                 189.8  42905.0  ...         2.7425                0.0
3                 189.8  42905.0  ...         2.7425                0.0
4                 189.8  42905.0  ...         2.7425                0.0

       ROE      ROA      ROI  Net Profit Margin  Free Cash Flow per Share  \
0  26.0272  17.3365  26.0272            19.1936                     0.355
1  26.0272  17.3365  26.0272            19.1936                     0.355
2  26.0272  17.3365  26.0272            19.1936                     0.355
3  26.0272  17.3365  26.0272            19.1936                     0.355
4  26.0272  17.3365  26.0272            19.1936                     0.355

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    26.4052              36800.0                -0.3555
1                    26.4052              36800.0                -0.3555
2                    26.4052              36800.0                -0.3555
3                    26.4052              36800.0                -0.3555
4                    26.4052              36800.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2009-07-29  19.899  20.050  19.572  19.960  87755604        0   0.014176
1 2009-07-30  20.294  20.486  19.882  19.968  80756527        0   0.000401
2 2009-07-31  19.917  20.185  19.705  19.722  64701715        0  -0.012320
3 2009-08-03  19.951  20.009  19.705  19.983  55862404        0   0.013234
4 2009-08-04  19.817  19.951  19.731  19.933  58588201        0  -0.002502

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                270.64  58437.0  ...         1.8229             0.1453
1                270.64  58437.0  ...         1.8229             0.1453
2                270.64  58437.0  ...         1.8229             0.1453
3                270.64  58437.0  ...         1.8229             0.1453
4                270.64  58437.0  ...         1.8229             0.1453

       ROE      ROA      ROI  Net Profit Margin  Free Cash Flow per Share  \
0  36.8295  18.7051  33.6435            24.9311                    1.7695
1  36.8295  18.7051  33.6435            24.9311                    1.7695
2  36.8295  18.7051  33.6435            24.9311                    1.7695
3  36.8295  18.7051  33.6435            24.9311                    1.7695
4  36.8295  18.7051  33.6435            24.9311                    1.7695

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    57.5941              90000.0                -0.3555
1                    57.5941              90000.0                -0.3555
2                    57.5941              90000.0                -0.3555
3                    57.5941              90000.0                -0.3555
4                    57.5941              90000.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close   Volume  OpenInt  C_returns  \
0 2015-02-06  528.13  537.20  526.41  531.00  1758502        0   0.006482
1 2015-02-09  528.00  532.00  526.02  527.83  1263805        0  -0.005970
2 2015-02-10  529.30  537.70  526.92  536.94  1744835        0   0.017259
3 2015-02-11  535.30  538.45  533.38  535.97  1373770        0  -0.001807
4 2015-02-12  537.11  544.82  534.67  542.93  1615822        0   0.012986

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                354.75  66001.0  ...         4.6878             0.0504
1                354.75  66001.0  ...         4.6878             0.0504
2                354.75  66001.0  ...         4.6878             0.0504
3                354.75  66001.0  ...         4.6878             0.0504
4                354.75  66001.0  ...         4.6878             0.0504

       ROE      ROA      ROI  Net Profit Margin  Free Cash Flow per Share  \
0  13.1138  10.5429  12.7185            21.4179                    0.0463
1  13.1138  10.5429  12.7185            21.4179                    0.0463
2  13.1138  10.5429  12.7185            21.4179                    0.0463
3  13.1138  10.5429  12.7185            21.4179                    0.0463
4  13.1138  10.5429  12.7185            21.4179                    0.0463

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    16.2814              53600.0                 1.6222
1                    16.2814              53600.0                 1.6222
2                    16.2814              53600.0                 1.6222
3                    16.2814              53600.0                 1.6222
4                    16.2814              53600.0                 1.6222

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2010-02-26  24.067  24.317  23.166  23.223  28896753        0  -0.099535
1 2010-03-01  26.212  26.230  24.168  24.168  31601936        0   0.040692
2 2010-03-02  24.309  24.317  22.968  23.465  19389862        0  -0.029088
3 2010-03-03  23.607  23.859  23.006  23.325  11086459        0  -0.005966
4 2010-03-04  23.522  25.584  23.428  25.041  27486313        0   0.073569

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                  4.04  75447.0  ...            1.0             1.1552
1                  4.04  75447.0  ...            1.0             1.1552
2                  4.04  75447.0  ...            1.0             1.1552
3                  4.04  75447.0  ...            1.0             1.1552
4                  4.04  75447.0  ...            1.0             1.1552

       ROE     ROA     ROI  Net Profit Margin  Free Cash Flow per Share  \
0 -45.3061 -1.5123 -6.0641           -16.2286                  137.3287
1 -45.3061 -1.5123 -6.0641           -16.2286                  137.3287
2 -45.3061 -1.5123 -6.0641           -16.2286                  137.3287
3 -45.3061 -1.5123 -6.0641           -16.2286                  137.3287
4 -45.3061 -1.5123 -6.0641           -16.2286                  137.3287

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                   -13.9507              96000.0                -0.3555
1                   -13.9507              96000.0                -0.3555
2                   -13.9507              96000.0                -0.3555
3                   -13.9507              96000.0                -0.3555
4                   -13.9507              96000.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close   Volume  OpenInt  C_returns  \
0 2010-02-17  32.446  32.548  32.200  32.379  2602649        0   0.002198
1 2010-02-18  32.331  32.966  32.286  32.873  3545575        0   0.015257
2 2010-02-19  32.679  33.522  32.594  32.950  3994225        0   0.002342
3 2010-02-22  33.082  33.082  32.446  32.463  3312214        0  -0.014780
4 2010-02-23  32.438  32.585  32.137  32.494  4334683        0   0.000955

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                 18.76  13399.0  ...         0.8303             1.2063
1                 18.76  13399.0  ...         0.8303             1.2063
2                 18.76  13399.0  ...         0.8303             1.2063
3                 18.76  13399.0  ...         0.8303             1.2063
4                 18.76  13399.0  ...         0.8303             1.2063

      ROE     ROA     ROI  Net Profit Margin  Free Cash Flow per Share  \
0  11.658  2.8734  5.6624             9.1052                   -2.3808
1  11.658  2.8734  5.6624             9.1052                   -2.3808
2  11.658  2.8734  5.6624             9.1052                   -2.3808
3  11.658  2.8734  5.6624             9.1052                   -2.3808
4  11.658  2.8734  5.6624             9.1052                   -2.3808

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                     11.658              19425.0                -0.3555
1                     11.658              19425.0                -0.3555
2                     11.658              19425.0                -0.3555
3                     11.658              19425.0                -0.3555
4                     11.658              19425.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2010-02-26  52.187  52.406  51.693  51.693  10237432        0  -0.008250
1 2010-03-01  51.693  51.929  51.547  51.800   7799453        0   0.002070
2 2010-03-02  52.154  52.154  51.743  51.872   7746520        0   0.001390
3 2010-03-03  52.018  52.090  51.371  51.516   7897591        0  -0.006863
4 2010-03-04  51.644  51.644  51.250  51.353   7359196        0  -0.003164

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                  81.1  22744.7  ...         1.1431             0.7538
1                  81.1  22744.7  ...         1.1431             0.7538
2                  81.1  22744.7  ...         1.1431             0.7538
3                  81.1  22744.7  ...         1.1431             0.7538
4                  81.1  22744.7  ...         1.1431             0.7538

       ROE      ROA      ROI  Net Profit Margin  Free Cash Flow per Share  \
0  32.4286  15.0571  18.5044            20.0091                    3.4305
1  32.4286  15.0571  18.5044            20.0091                    3.4305
2  32.4286  15.0571  18.5044            20.0091                    3.4305
3  32.4286  15.0571  18.5044            20.0091                    3.4305
4  32.4286  15.0571  18.5044            20.0091                    3.4305

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    39.2034             385000.0                -0.3555
1                    39.2034             385000.0                -0.3555
2                    39.2034             385000.0                -0.3555
3                    39.2034             385000.0                -0.3555
4                    39.2034             385000.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close   Volume  OpenInt  C_returns  \
0 2010-02-16  14.579  15.086  14.485  15.055  8321230        0   0.140876
1 2010-02-17  15.235  15.235  15.047  15.086  4527666        0   0.002059
2 2010-02-18  15.144  15.403  15.119  15.316  4031946        0   0.015246
3 2010-02-19  15.235  15.403  15.152  15.291  1903824        0  -0.001632
4 2010-02-22  15.751  15.768  15.505  15.617  4429286        0   0.021320

   Market Cap(in B USD)   Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                 36.84  45992.04  ...            1.0             8.5152
1                 36.84  45992.04  ...            1.0             8.5152
2                 36.84  45992.04  ...            1.0             8.5152
3                 36.84  45992.04  ...            1.0             8.5152
4                 36.84  45992.04  ...            1.0             8.5152

       ROE     ROA     ROI  Net Profit Margin  Free Cash Flow per Share  \
0  19.5283  0.8282  5.1862            12.0558                   21.5535
1  19.5283  0.8282  5.1862            12.0558                   21.5535
2  19.5283  0.8282  5.1862            12.0558                   21.5535
3  19.5283  0.8282  5.1862            12.0558                   21.5535
4  19.5283  0.8282  5.1862            12.0558                   21.5535

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    22.9851             144200.0                -0.3555
1                    22.9851             144200.0                -0.3555
2                    22.9851             144200.0                -0.3555
3                    22.9851             144200.0                -0.3555
4                    22.9851             144200.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2010-04-06  16.042  16.052  15.541  15.820  21777854        0  -0.024541
1 2010-04-07  15.717  16.191  15.587  15.920  22025447        0   0.006321
2 2010-04-08  15.820  15.930  15.577  15.658  27955259        0  -0.016457
3 2010-04-09  15.577  15.820  15.541  15.763  22028667        0   0.006706
4 2010-04-12  15.791  16.116  15.753  16.052  14724409        0   0.018334

   Market Cap(in B USD)   Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                 10.37  3424.859  ...         2.7845             0.0107
1                 10.37  3424.859  ...         2.7845             0.0107
2                 10.37  3424.859  ...         2.7845             0.0107
3                 10.37  3424.859  ...         2.7845             0.0107
4                 10.37  3424.859  ...         2.7845             0.0107

      ROE     ROA     ROI  Net Profit Margin  Free Cash Flow per Share  \
0 -1.2545 -0.8966 -1.2412            -0.8771                   -0.0722
1 -1.2545 -0.8966 -1.2412            -0.8771                   -0.0722
2 -1.2545 -0.8966 -1.2412            -0.8771                   -0.0722
3 -1.2545 -0.8966 -1.2412            -0.8771                   -0.0722
4 -1.2545 -0.8966 -1.2412            -0.8771                   -0.0722

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    -1.5999               5420.0                -0.3555
1                    -1.5999               5420.0                -0.3555
2                    -1.5999               5420.0                -0.3555
3                    -1.5999               5420.0                -0.3555
4                    -1.5999               5420.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2010-02-22  16.793  16.807  16.559  16.737  48280959        0   0.002516
1 2010-02-23  16.713  16.801  16.270  16.352  77576924        0  -0.023003
2 2010-02-24  16.472  16.687  16.440  16.601  63665714        0   0.015227
3 2010-02-25  16.319  16.567  16.218  16.542  60489436        0  -0.003554
4 2010-02-26  16.504  16.584  16.381  16.465  59529675        0  -0.004655

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                112.65  35127.0  ...         2.7871             0.0533
1                112.65  35127.0  ...         2.7871             0.0533
2                112.65  35127.0  ...         2.7871             0.0533
3                112.65  35127.0  ...         2.7871             0.0533
4                112.65  35127.0  ...         2.7871             0.0533

       ROE     ROA     ROI  Net Profit Margin  Free Cash Flow per Share  \
0  10.4762  8.2286  9.9856            12.4377                    1.1789
1  10.4762  8.2286  9.9856            12.4377                    1.1789
2  10.4762  8.2286  9.9856            12.4377                    1.1789
3  10.4762  8.2286  9.9856            12.4377                    1.1789
4  10.4762  8.2286  9.9856            12.4377                    1.1789

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    11.7185              79800.0                -0.3555
1                    11.7185              79800.0                -0.3555
2                    11.7185              79800.0                -0.3555
3                    11.7185              79800.0                -0.3555
4                    11.7185              79800.0                -0.3555

[5 rows x 28 columns]
        Date    Open    High     Low   Close    Volume  OpenInt  C_returns  \
0 2010-01-28  124.46  127.20  122.80  126.03  26818639        0   0.026721
1 2010-01-29  129.74  131.85  124.14  125.41  29455631        0  -0.004919
2 2010-02-01  123.22  124.86  113.82  118.87  37698758        0  -0.052149
3 2010-02-02  118.86  118.98  114.40  118.12  23044130        0  -0.006309
4 2010-02-03  117.09  119.61  116.56  119.10  12393931        0   0.008297

   Market Cap(in B USD)  Revenue  ...  Current Ratio  Debt/Equity Ratio  \
0                 58.24  24509.0  ...         1.3304             0.2007
1                 58.24  24509.0  ...         1.3304             0.2007
2                 58.24  24509.0  ...         1.3304             0.2007
3                 58.24  24509.0  ...         1.3304             0.2007
4                 58.24  24509.0  ...         1.3304             0.2007

       ROE     ROA      ROI  Net Profit Margin  Free Cash Flow per Share  \
0  17.1581  6.5301  17.1581             3.6803                    0.3303
1  17.1581  6.5301  17.1581             3.6803                    0.3303
2  17.1581  6.5301  17.1581             3.6803                    0.3303
3  17.1581  6.5301  17.1581             3.6803                    0.3303
4  17.1581  6.5301  17.1581             3.6803                    0.3303

   Return on Tangible Equity  Number of Employees  Inflation Rate(in US)
0                    22.4211              24300.0                -0.3555
1                    22.4211              24300.0                -0.3555
2                    22.4211              24300.0                -0.3555
3                    22.4211              24300.0                -0.3555
4                    22.4211              24300.0                -0.3555

[5 rows x 28 columns]